.scroll-section {
  font-family: 'Lato', sans-serif;
}

.scroll-section::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

.scroll-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-section::-webkit-scrollbar-thumb {
  background-color: #F07427;
  outline: 1px solid #F07427;
}

.form-control {
  color: #838996;
}

.book__language {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 85px;
  margin-bottom: 0;
}

.js-bookmark-button{
  background-image: url(/icons/star-border.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: none;
  transition: all ease 0.5s;
}

.book:hover .js-bookmark-button{
  display: block;
}

.js-bookmark-button.active{
  background-image: url(/icons/star.svg);
}

@media only screen and (min-width:768px) {
  .collapse:not(.show) {
    display: block;
  }
}

@media only screen and (max-width:575px) {
  .card {
    display: flex !important;
    flex-direction: row !important;
    padding: 0 !important;
  }

  .img-holder{
    padding: 10px;
  }
}

@media only screen and (max-width:420px) {
  .card {
    display: flex !important;
    flex-direction: column !important;
    padding-top: 10px !important;
  }

  .img-holder{
    padding: 10px;
  }
}
